page-register {
    .bg-gradient{
        background-size: cover;
        background: url('../assets/imgs/bg.png') no-repeat center center fixed;
      }

    h1{
        text-align: center;
        color: white;
    }

    .imgRegister{
        left:50%;
        
    }

    .imgUser{
        left: 50%;
        position:relative;
        margin-left: -65px;
        height: 130px;
        width: auto;
    }
}
