page-medicamentos {
    .imgcomp
    {
        height: 40px;
    }

    .bg-gradient{
        background-size: cover;
        background: url('../assets/imgs/bg.png') no-repeat center center fixed;
      }
}
