page-consultas {
    .medicalIcon{
        height: 50px;
        width: 50px;
        float: right;
    }

    h2{
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 2vh;
    }

    .bg-gradient{
        background-size: cover;
        background: url('../assets/imgs/bg.png') no-repeat center center fixed;
      }
}
